
@import url("reset.css");

@import url("fonts.css");

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
   display: flex;
   flex-direction: column;
} 

.wrapper > main{
   flex-grow: 1;
}


[class*="__container"]{
   max-width: 1422px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

body{
   font-family: "Lato",sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   color: #2f302c;
}

header{
   margin-bottom: 20px;
}

.products {
   margin-bottom: 164px;
}
.products__items {
   display: grid;
   gap: 36px;
   grid-template-columns: minmax(250px,321px) minmax(300px,1fr) minmax(250px,321px);
}
.products__item {
   
   border-radius: 10px;
   display: grid;
   grid-template-rows: minmax(200px,292px) minmax(200px,292px);
}
.products__item:hover{
   border: 3px solid rgb(12, 12, 12);
}


.products__item--left{
   position: relative;
   background-color: #f7f7f7;
}



.img-products__little
.img-products__big
.img-products__sofa
.right__chair{
   max-width: 100%;
   object-fit: contain;
   
}

.img-products__little {
   position: absolute;
   top: 0;
   right: 90px;
   max-width: 100%;
}
.img-products__big {
   position: absolute;
   top: 0;
   right: 32px;
   max-width: 100%;
}
.products__body {
   padding: 38px 50px 5px 32px;
}
.products__subtitle {
   font-size: 20px;
   font-weight: 800;
   line-height: 1.4;
   margin-bottom: 24px;
}
.products__text {
   color: #7e7f7c;
   margin-bottom: 38px;
}
.products__link {
   color: #7e7f7c;
}

.right{
   position: relative;
}

.right__chair {
   position: absolute;
   top: 48px;
   right: 0;
   max-width: 100%;
}
.products__item--right{
   background-color: #f7f7f7;
}
.products__item--center .img-products{
   align-items: center;
   display: grid;
}

.products__item--center .products__body{
   max-width: 310px;
   padding: 48px 5px 0;
   text-align: center;
}
.products__item--center{
   justify-items: center;
   background-color: #e6efea;
}

.products__item--center .products__subtitle{
   margin-bottom: 24px;
}
.products__item--center .products__text{
   margin-bottom: 18px;
}
@media (width <= 900px) {
   .products__items {
      display: grid;
      gap: 36px;
      grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
   }
   .products__item:nth-child(1) {
      order: 1;
   }
   .products__item:nth-child(2) {
      order: 3;
      grid-column-start: 1;
      grid-column-end: 3;
   }
   .products__item:nth-child(3) {
      order: 2;
   }
}

@media (width <= 670px) {
   .products__items {
      display: grid;
      gap: 10px 0;
      grid-template-columns: repeat(1, 1fr);
      
   }
   .products__item:nth-child(1) {
      order: 1;
   }
   .products__item:nth-child(2) {
      order: 2;
   }
   .products__item:nth-child(3) {
      order: 3;
   }
   .products__item{
      grid-template-rows: minmax(200px,250px) minmax(200px,250px);
   }
   .right__chair {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 100%;
   }
}


/* ----------------------------------- */

.trusted {
   margin-bottom: 174px;
}

.trusted__title {
   margin-bottom: 72px;
   text-align: center;
   font-size: 32px;
   font-weight: 800;
}
.trusted__brands {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(170px, 100%), 1fr));
   gap: 68px 74.4px;
   justify-items: center;
}

@media (width <= 800px) {
   .trusted__brands {
      gap: 30px 30px;
   }
}

/* --------------------------------------- */

.block-top__title{
   font-size: 32px;
   font-weight: 800;
   text-align: center;
   margin-bottom: 36px;
   text-transform: uppercase;
}

.block-top{
   margin-bottom: 286px;
}

.menu {
   margin-bottom: 72px;
}

.menu__items {
   display: flex;
   gap: 48px;
   justify-content: center;
}
.menu__item:hover{
   text-decoration: underline;
   text-underline-offset: 8px;
}
.product-card {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(330px, 100%), 1fr));
   gap: 72px 36px;
}

@media (width <= 1092px) {
   .product-card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(270px, 100%), 1fr));
      gap: 20px 20px;
      justify-content: center;
   }
}

@media (width <= 880px) {
   .product-card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
      gap: 20px 20px;
      justify-content: center;
   }
}
.card {
   border: 5px solid rgba(255, 255, 255, 0.641);
   transition: 0.5s;
}

.card:hover{
   scale: 1.05;
   border: 5px solid rgba(0, 0, 0, 0.641);
   border-radius: 10px;
}

.card__body {
   text-align: center;

}

.card__body > *:not(:last-child){
   margin-bottom: 12px;
}
.card__img {
   display: block;
   margin-bottom: 32px;
}

.card__price {
   font-size: 20px;
   font-weight: 800;
   line-height: 1.4;
}

.footer__container{
padding-bottom: 15px;
}
.block-bottom__title{
   font-size: 32px;
   font-weight: 800;
   text-transform: uppercase;
   margin-bottom: 72px;
   text-align: center;
}

.feature {
   gap: 68px;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(min(330px, 100%), 1fr));
}

@media (width <= 1156px) {
   .feature {
      gap: 40px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(270px, 100%), 1fr));
   }
}

@media (width <= 920px) {
   .feature {
      gap: 30px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(220px, 100%), 1fr));
   }
}
.feature__item > *:not(:last-child){
   margin-bottom: 24px;
}

.feature__item {
   text-align: center;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 348px;
}

.feature__title {
   text-transform: uppercase;
   font-weight: 700;
}