
@import url("reset.css");

@import url("fonts.css");

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
   display: flex;
   flex-direction: column;
} 

.wrapper > main{
   flex-grow: 1;
}


[class*="__container"]{
   max-width: 1230px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

body{
   font-family: "Montserrat",sans-serif;
   font-size: 19px;
   font-weight: 400;
   line-height: 1.42;
   color: #343434;
   background-color: #fff;
   position: relative;
}
/* ------------------------------------ */

body{
   max-width: 1600px;
   margin: 0 auto;
}

/* ----------header------------------ */

.header__section{
   display: flex;
   padding-top: 44px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 16px;
   margin-bottom: 103px;
}

.menu__logo{
   max-width: 124px;
}
.logo:hover{
   scale: 1.03;
}

.logo {
   width: 100%;
   transition: all 0.3s;
}
.menu__list {
   display: flex;
   gap: 10px 61px;
   flex-wrap: wrap;
}

.menu__item:hover {
   text-decoration: underline;
}


.header__button {
   color: #fff;
   font-size: 17px;
   border-radius: 15px;
   background-color: #BA936F;
   padding: 10px 47px;
   transition: all 0.3s;
}
.header__button:hover{
   background-color: #be8856;
   scale: 1.03;
}

.icon-menu{
   position: absolute;
   top: 0;
   right: 0;
}

@media (width <= 1024px) {
   .menu__list {
      gap: 10px 25px;
   }
}

@media (width < 840px) {
   .header {
      position: sticky;
      top: 0px;
      background-color: #ddd1d1;
   }
	.header__section {
      justify-content: space-around;
	}
   .header__button {
      padding: 10px 30px;
      transition: all 0.3s;
   }
	.icon-menu,
	.header__action,
	.header__logo {
		position: relative;
		z-index: 3;
	}
	.icon-menu {
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		width: 30px;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: #2f302c;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}
	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
		padding: 120px 15px 30px 15px;
	}
	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;
	}
	.menu__list {
		row-gap: 30px;
		flex-direction: column;
		align-items: center;
	}
	.menu__link {
		font-size: 28px;
	}
	[data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 0 50%;
		bottom: 50%;
	}
	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
}
/*--------------------------------------- */

.hero__container {
   margin-bottom: 130px;
}

.hero__body {
   display: flex;
   gap: 27px;
   flex-wrap: wrap;
}
.text-hero {
   padding-top: 71px;
   display: flex;
   flex-direction: column;
   flex-basis: 687px;
   flex-shrink: 1;
}
.text-hero__title {
   color: #ba936f;
   font-size: 50px;
   font-family: "Lora",serif;
   text-transform: uppercase;
   margin-bottom: 70px;
}
.text-hero__text {
   color: #343434;
   margin-bottom: 96px;
}

.text-hero__text p:not(:last-child) {
	margin-bottom: 10px;
}
.text-hero__image {
   position: relative;
}
.text-hero__circle{
   position: absolute;
   top: -130%;
   left: 0%;
}


.text-hero__link {
   display: inline-block;
   display: flex;
   gap: 6px;
   padding-left: 62px;
}
.text-hero__link p{
   font-size: 17px;
   line-height: 1.58;
}

.hero__image {
   aspect-ratio: 486 / 647;
   border-radius: 33px;
   object-fit: cover;
}
@media (width <= 1230px) {
   .hero__container {
      margin-bottom: 40px;
   }
   .text-hero__title {
      color: #ba936f;
      font-size: 30px;
      margin-bottom: 20px;
   }
   .text-hero {
      padding-top: 71px;
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
      flex-grow: 1;
   }
   .hero__body{
      display: flex;
      justify-content: center;
      gap: 45px;
      text-align: center;
   }
   .text-hero {
      padding-top: 0px;
   }
      .header__section{
      margin-bottom: 40px;
   }
   .text-hero__text {
      margin-bottom: 50px;
   }
}

/* --------------------------------------- */


.practice__container {
   margin-bottom: 138px;
}
.practice__body {
   display: grid;
   gap: 40px;
   grid-template-columns: minmax(350px,600px) minmax(350px,1fr);
}
.practice__image {
   border-radius: 33px;
   object-fit: cover;
}

.text-practice {
   padding-top: 63px;
}
.text-practice__title {
   color: #ba936f;
   font-size: 35px;
   font-family: "Lora",serif;
   margin-bottom: 55px;
}
.text-practice__text {
   margin-bottom: 43px;
}

.text-practice__text p:not(:last-child) {
	margin-bottom: 10px;
}
.text-practice__free {
   font-size: 17px;
   line-height: 1.58;
   font-weight: 600;
   margin-bottom: 43px;
}

.text-practice__free span{
   color: #ba936f;
}

.text-practice__link p{
   color: #fff;
   padding: 12px 47px;
   display: inline-block;
   font-weight: 500;
   border-radius: 15px;
   background-color: #BA936F;
}

@media (width <= 1230px) {
   .practice__container {
      margin-bottom: 40px;
   }
   .practice__body {
      display: grid;
      gap: 30px;
      grid-template-columns: minmax(300px,1fr);
      justify-items: center;
      text-align: center;
   }
   .practice__image {
      order: 2;
   }
   .text-practice {
      padding-top: 0px;
      order: 1;
   }
   .text-practice__title {
      font-size: 25px;
      margin-bottom: 25px;
   }
   .text-practice__text {
      margin-bottom: 20px;
   }
   .text-practice__free {
      margin-bottom: 20px;
   }
}


/* -------------------------------------------- */

.lesson__container{
   margin-bottom: 138px;
}

.lesson__text{
   margin-bottom: 64px;
}
.lesson__text h2{
   color: #ba936f;
   font-size: 35px;
   font-family: "Lora",serif;
   text-transform: uppercase;
   margin-bottom: 32px;
}
.lesson__text h2{
   font-size: 17px;
   line-height: 1.58;

}
.lesson__images {
   display: grid;
   gap: 43px;
   grid-template-columns: minmax(300px,385px) minmax(300px,368px) minmax(300px,362px);
}
.lesson__images :nth-child(2){
   display: flex;
   gap: 12px;
}

.lesson__image {
   display: flex;
   flex-direction: column;
   gap: 14px;
}

@media (width <= 1230px) {
   .lesson__container{
      margin-bottom: 40px;
      justify-items: center;
      text-align: center;
   }
   .lesson__images {
      display: grid;
      gap: 20px;
      grid-template-columns: minmax(300px,600px);
   }
   .lesson__text{
      margin-bottom: 35px;
   }
   .lesson__text h2{
      font-size: 25px;
      margin-bottom: 20px;
   }

}

/* ----------------------------------- */
.join__container {
   margin-bottom: 30px;
}

.join__title {
   color: #ba936f;
   font-size: 35px;
   font-family: "Lora",serif;
   text-transform: uppercase;
   max-width: 515px;
   margin-bottom: 16px;
}
.join__text{
   margin-bottom: 41px;
   font-size: 17px;
   line-height: 1.58;
   max-width: 839px;
}

.join__text p:not(:last-child) {
	margin-bottom: 10px;
}

.join__bottom{
   display: grid;
   grid-template-columns: minmax(300px,661px) minmax(300px,503px);
	gap: 36px;
}

.join__plan{
   display: flex;
	align-items: center;
}
.join__table {
	font-size: 17px;
	line-height: 1.58;
	text-transform: uppercase;
	border-collapse: collapse;
	border-block: 1px solid #ba936f;
}

.table__head {
	position: absolute;
	height: 1px;
	overflow: hidden;
}

.table__row {
	padding-block: 19px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 90px;
}

.table__link {
	position: relative;
	transition: color 0.3s;
}

.table__link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: #ba936f;
	opacity: 0;
	transition: opacity 0.3s;
}

.table__link:hover {
	color: #ba936f;
}


.table__row:not(:last-child) {
	border-bottom: 1px solid #ba936f;
}

@media (width <= 1230px) {
   .join__bottom{
      display: grid;
      grid-template-columns: minmax(300px,1fr);
      gap: 36px;

   }
   .join__container{
      justify-items: center;
      text-align: center;
   }
   .join__title {
      color: #ba936f;
      font-size: 25px;
      font-family: "Lora",serif;
      text-transform: uppercase;
      max-width: 100%;
      margin-bottom: 16px;
   }
}

@media (width <= 720px) {
   .table__row {
      column-gap: 30px;
   }
}


/* ----------------------- */
.one {
   position: absolute;
   top: 60px;
   right: -400px;
   z-index: -1;
}
.two {
   position: absolute;
   top: 600px;
   left: -400px;
   z-index: -1;
}
.three {
   position: absolute;
   top: 1350px;
   right: -400px;
   z-index: -1;
}
.four {
   position: absolute;
   top: 2600px;
   left: -400px;
   z-index: -1;
}