@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');
@font-face {
   font-family: "Lato";
   src: url("../fonts/lato.woff2") format("woff2");
   font-weight: 500;
	font-style: normal;
	font-display: swap;
}

