
@import url("reset.css");

@import url("fonts.css");

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
   display: flex;
   flex-direction: column;
} 

.wrapper > main{
   flex-grow: 1;
}


[class*="__container"]{
   max-width: 1422px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

body{
   font-family: "Lato",sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.25;
   color: #2f302c;
}

.header {
	background-color: #fff;
}
.header__container {
	min-height: 164px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	gap: 80px;
}

.header__image-logo {
	width: 200px;
	max-width: none;

}

.search-header {
	display: flex;
   flex-basis: 264px;
	overflow: hidden;
	border-bottom: 1px solid #d4d4d4;
   gap: 5px;
}

.search-header__button{
   width: 20px;
   flex-shrink: 0;
   background: url("../img/icon/search.svg") left no-repeat;
}

.search-header__input{
   height: 43px;
   padding-left: 5px;
   padding-right: 5px;
}
.header__menu {
	flex-grow: 1;
}

.icon-menu {
	display: none;
}

.menu__list{
   display: flex;
   gap: 6px 40px;
   align-items: center;
   flex-wrap: wrap;
}

.menu__link,
.action-header__link {
	font-weight: 700;
}
.action-header{
   display: flex;
   gap: 6px 44px;
   flex-wrap: wrap;
   align-items: center;
}

.action-header__link {
	padding-left: 22px;
	display: block;
}
.action-header__link--love {
	background: url("../img/icon/heart.svg") left no-repeat;
}
.action-header__link--cart {
	background: url("../img/icon/cart.svg") left no-repeat;
}

@media (width <= 1422px) {
   .header__container {
		min-height: 120px;
		gap: 40px;
	}
   .action-header,
	.menu__list {
		gap: 4px 25px;
	}
	.menu__list {
		justify-content: center;
	}
}


@media (width <= 1200px) {
	.header__search {
		flex-basis: 190px;
	}
}

@media (width <= 992px) {
	.header__container {
		min-height: 100px;
		gap: 30px;
	}
	.action-header,
	.menu__list {
		gap: 8px 17px;
	}
	.header__logo {
		width: 37px;
		flex-shrink: 0;
		overflow: hidden;
	}
}
@media (width < 768px) {
	.header__container {
		min-height: 70px;
	}
	.icon-menu,
	.header__action,
	.header__logo,
	.header__search {
		position: relative;
		z-index: 3;
	}

	.icon-menu {
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		height: 2px;
		width: 30px;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: #2f302c;
	}
	.icon-menu::before {
		top: 0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		transition: left 0.3s;
		padding: 120px 15px 30px 15px;
	}
	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 100%;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;
	}

	.menu__list {
		row-gap: 30px;
		flex-direction: column;
		align-items: center;
	}
	.menu__link {
		font-size: 28px;
	}

	.header__search {
		flex-grow: 1;
	}
	.action-header__link {
		width: 25px;
		aspect-ratio: 1;
		padding-left: 0;
		font-size: 0;
		line-height: 1;
		background-size: contain;
	}

	[data-menu-open] .icon-menu span {
		width: 0;
	}
	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}
	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 0 50%;
		bottom: 50%;
	}
	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
	}
}
@media (width < 480px) {
	.header__container {
		gap: 15px;
	}
	.header__logo {
		width: 28px;
	}
	.header__image-logo {
		width: 154px;
	}
	.action-header {
		gap: 8px 5px;
	}
	.search-header {
		border-radius: 5px;
		border: 1px solid #d4d4d4;
	}
	.search-header__button {
		display: none;
	}
	.search-header__input {
		height: 33px;
		padding-left: 5px;
		padding-right: 5px;
	}
   .header__search {
		flex-basis: 130px;
	}
}


.hero {
	padding-top: 114px;
	padding-bottom: 110px;
	background: url("../img/banner.png") left center / cover no-repeat, #d9d9d9;
}
.hero__content {
	max-width: 650px;
	margin-left: auto;
}

.hero__label {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
   margin-bottom: 20px; /* 28/20 */
}
.hero__title {
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 96px;
	font-weight: 800;
	line-height: 1.04;
   margin-bottom: 16px;
}
.hero__title span {
	font-weight: 700;
}

hr {
	content: "";
	display: block;
	height: 1px;
	background-color: #2F302C;
	width: 308px;
   margin-bottom: 36px;
}

.hero__text {
	color: #7E7F7C;
	line-height: 1.25;
   max-width: 374px;
}
.hero__text p:not(:last-child){
   margin-bottom: 10px;
}
@media (width <= 1600px) {
	.hero {
		padding-top: 30px;
		padding-bottom: 30px;
	}
   .hero__title {
      font-size: 50px;
      font-weight: 800;
      line-height: 1.04;
      margin-bottom: 16px;
   }
   hr {
      width: 170px;
      margin-bottom: 25px;
   }
   .hero__content {
      max-width: 450px;
      margin-left: auto;
   }
}
@media (width <= 992px) {
   .hero__content {
      max-width: 300px;
      margin-left: auto;
   }
   .hero {
		padding-top: 10px;
		padding-bottom: 10px;
	}
   .hero__title {
      font-size: 30px;
      font-weight: 800;
      line-height: 1.04;
      margin-bottom: 8px;
   }
   .hero__label {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 10px; /* 28/20 */
   }
   hr{
      width: 100px;
      margin-bottom: 10px;
   }
}
@media (width < 650px) {
   .hero__content {
      max-width: 650px;
      padding-left: 30%;
   }
   .hero {
		padding-top: 50px;
		padding-bottom: 50px;
		background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3) 0),
			url("../img/banner.png") 14% center / cover no-repeat, #d9d9d9;
	}

}
@media (width < 420px) {
	.hero__content {
		padding-left: 10%;;
	}
	.hero {
		background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3) 0),
			url("../img/banner.png") 14% center / cover no-repeat, #d9d9d9;
	}
}
