
@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Agbalumo:wght@400&display=swap');

@import url("fonts.css");

body{
   font-family: "Poppins", fantasy;
   font-size: 14px;
   line-height: 142.857143%; /* 20/14 */

}

h1{
   color: #3526de;
   text-align: center;
}

.color {
   color: rgba(208, 37, 46, 0.449);
}

.font-style-italic {  
   font-style: italic;
}

.font-style-oblique {
   font-style: oblique;
}

.font-weight-900{
   font-weight: 900;
}

.texr-align-right {
   text-align: right;
}

.texr-align-center{
   text-align: center;
}

.texr-align-justify{
   text-align: justify;
}

.text-decoration-line-through {
   text-decoration: line-through;
   text-decoration-style: wavy;
   text-decoration-color: yellow;
}

.text-decoration-overline{
   text-decoration: overline;
}

.text-decoration-underline {
   text-decoration: underline;
}

.text-shadow {
   text-shadow: 2px -2px 6px #2117e3ce;
}

.text-transform-capitalize{
   text-transform: capitalize;
}

.text-transform-lowercase{
   text-transform: lowercase;
}

.text-transform-uppercase{
   text-transform: uppercase;
}

.letter-spacing {
   letter-spacing: 2px;
}
.white-space {
   white-space: nowrap;
}
.word-space {
   word-spacing: 30px;
}